<div class="row">
  <div class="col-xs-12 col-md-offset-1 col-md-5">
    <h2 class="mainHeader" style="margin-bottom:30px;">Niten Cleaning Service</h2>
    <p class="companyDesc">
      Niten Cleaning Service provides general and customized cleaning for homes and offices. We	provide professional and affordable services to our customers. We offer services
      <span class="typesServices">weekly</span>,
      <span class="typesServices">bi-weekly</span>,
      <span class="typesServices">once a month</span>,and
      <span class="typesServices">one time</span> cleaning services. We provide our own supplies and equipement. We also guarantee the highest quality, if you are unhappy with your cleaning for any reason, let us know and we'll re-clean of charge.
    </p>
    <p class="motto">
      <span class="typesServices">"</span>Our goal is to <span class="typesServices">service</span> you<span class="typesServices">"</span>
    </p>
    <p class="companyDesc">
      We are currently serving the following cities:
      <span class="typesServices">Vernon Hills</span>,
      <span class="typesServices"> Gurnee</span>,
      <span class="typesServices"> Great Lakes</span>,
      <span class="typesServices"> Highland Park</span>,
      <span class="typesServices"> Wauconda</span>,
      <span class="typesServices"> Lake Forest</span>,
      <span class="typesServices"> Lake Bluff</span>,
      <span class="typesServices"> Libertyville</span>, and
      <span class="typesServices"> Evanston</span>.
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
    <div style="padding-bottom:50px;" class="visible-xs visible-sm"></div>
    <div class=" col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 box">
          <div class="col-xs-12 contact-title">
            <md-toolbar color="primary">Get a Free Estimate</md-toolbar>
          </div>
          <div class="col-xs-12 col-sm-4 contact-label">
            <md-toolbar color="primary">Give us a call: </md-toolbar>
          </div>
          <div class="col-xs-offset-1 col-xs-11 col-sm-offset-0 col-sm-8 contact-txtbox">
            <a class="contact-links" href="tel:1-847-293-9361">+1-(847)-293-9361</a>
          </div>
          <div class="col-xs-12 col-sm-4 contact-label">
            <md-toolbar color="primary">Email us at: </md-toolbar>
          </div>
          <div class="col-xs-offset-1 col-xs-11 col-sm-offset-0 col-sm-8 contact-txtbox">
            <a class="contact-links" href="mailto:contact@nitencleaning.com?subject=Free-Estimate">contact@nitencleaning.com</a>
          </div>
    </div>
  </div>
</div>
<div style="padding-bottom:80px;" class="">

</div>
<!--
<div style="padding-bottom:50px;" class="visible-xs visible-sm">

</div>
<div class="row">
  <div class="col-xs-12 col-md-offset-1 col-md-6">
    <h2 style="margin-bottom:50px;">What We Offer for Houses:</h2>
  </div>
</div>
<div class="row no-gutter">
  <div class="col-xs-offset-2 col-md-offset-3 col-xs-8 col-md-3">
    <md-card style="background-color: #8C489F;" class="home">
      <md-card-content>
        <md-card-title class="cleanHeader">Bathrooms</md-card-title>
        <ul class="cleanList">
          <li>Bathtubs</li>
          <li>Showers</li>
          <li>Vanity</li>
          <li>Sink</li>
          <li>Mirrors</li>
          <li>Floors mopped</li>
          <li>General dusting</li>
        </ul>
      </md-card-content>
    </md-card>
  </div>
  <div class="col-xs-offset-2 col-md-offset-0 col-xs-8 col-md-3">
    <md-card style="background-color: #F5403F;" class="home">
      <md-card-content>
        <md-card-title class="cleanHeader">Kitchen</md-card-title>
        <ul class="cleanList">
          <li>Counter tops</li>
          <li>Outside of cabinets</li>
          <li>Appliances</li>
          <li>Vacuum floors </li>
          <li>Microwave</li>
          <li>Sinks cleaned</li>
          <li>General dusting</li>
        </ul>
      </md-card-content>
    </md-card>
  </div>
</div>
<div class="row no-gutter">
  <div class="col-xs-offset-2 col-md-offset-3 col-xs-8 col-md-3">
    <md-card style="background-color: #FF665B;">
      <md-card-content>
        <md-card-title class="cleanHeader">Living Room</md-card-title>
        <ul class="cleanList">
          <li>Picture frames</li>
          <li>Ceiling fans</li>
          <li>Floors vacuumed</li>
          <li>Mopped floors</li>
          <li>Stairs mopped</li>
          <li>Flat areas wiped</li>
        </ul>
      </md-card-content>
    </md-card>
  </div>
  <div class="col-xs-offset-2 col-md-offset-0 col-xs-8 col-md-3">
    <md-card style="background-color: #4EB29A;" class="home">
      <md-card-content>
        <md-card-title class="cleanHeader">Extra Fee</md-card-title>
        <ul class="cleanList">
          <li>Inside fridge</li>
          <li>Oven</li>
          <li>Wash dishes</li>
          <li>Windows</li>
          <li>Wash clothes</li>
          <li>Baseboard clean</li>
        </ul>
      </md-card-content>
    </md-card>
  </div>
</div>
-->
